h1 {
    font-size: 24px;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    padding: 0 10px;
}

button {
    text-align: right;
    color: black;
    background-color: white;
    border: 2px solid #4CAF50;
    /* Green */
    ;
}

/* sélectionne tous les éléments dont la classe = 'hover-bg'*/
.hover-bg {
    background-color: green;
    color: rgb(207, 207, 12)
}

/* 
    .hover_bg -> sélectionne tous les éléments dont la classe = 'hover-bg'
    :hover    -> MAIS uniquement quand la souris passe dessus*/
.hover-bg:hover {
    transition-duration: 1.5s;
    background-color: orangered;
    color: rgb(100, 3, 174)
}

nav a {
margin: 0 10px;
}