body {
    background-color: rgb(191, 137, 242);
}

h1 {
    font-size: 24px;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    text-align: right;
    color: black;
    background-color: white;
    border: 2px solid #4CAF50;
    /* Green */
    ;
}

/* sélectionne tous les éléments dont la classe = 'hover-bg'*/
.hover-bg {
    background-color: green;
    color: yellow
}

/* 
    .hover_bg -> sélectionne tous les éléments dont la classe = 'hover-bg'
    :hover    -> MAIS uniquement quand la souris passe dessus*/
.hover-bg:hover {
    transition-duration: 1.5s;
    background-color: orangered;
    color: white
}