body {
  background-color: rgb(202, 173, 230);
  padding: 50px 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
}

div {
  padding-left: 18px;
  border: solid;
  border-radius: 10px;
}

#date {
  font-style: italic;
}

#explication {
  font-size: large;
}